<a href="https://colab.research.google.com/github/naushath6001/naushath6001/blob/main/Test_Pre_Processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a code to remove the digits from the 30th review given above. After removing the digits, how many characters left in the review? (including spaces) 


Hint: Use encoding to find all the nine decimal digits. Then, you can reuse the deEmojify function to create the pattern to remove digits. You will need to find the Unicode codes for all the digits; you can use the Internet to do that.

In [6]:
import pandas as pd

hotel = pd.read_csv('tripadvisor_hotel_reviews.csv')
hotel.head(5)

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

In [7]:
hotel.head(1)

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4

In [21]:
import re
def remove_digits(text):
  regrex_patterns = re.compile(pattern = "["
      u"\U00000030-\U00000039"
                        "]+", flags = re.UNICODE)
  return regrex_patterns.sub(r'',text)

text = hotel["Review"][29]
text = remove_digits(text)
len(text)

235